/****************************** GENERAL ******************************/
html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
	/* border: 2px black dashed; */
}

img, video {
	width : 100%;
	border-radius: 8em;
}
img:hover{
	border: lightgrey 3px solid;
	background-color: pink;
}
.espaceHor{
	flex: 5;
}

.espaceBouton{
	flex: 0.53;
}

a{
	text-decoration: none;
	color: inherit;
}

/****************************** HEADER ******************************/

header{
	background-color: white;
	padding-bottom: 1vh;
}
.espaceHeader{
	flex: 30;
}
.menuHam{
	padding: 2em
}


.menuPois{
	padding: 2em;
	
}

.profil{
	border-radius: 7em;
	padding : 2em;	
}

.logo{
	flex: 5;
}
.logo:hover{
	display: none;
}
/****************************** FOOTER ******************************/

footer{
	padding: 10vh;
}
.icon{
	margin-top: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.boutonFooter{
	border: lightgrey solid 1px;
	border-radius: 8em;
	padding: 1em
}
.texteBouton{
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	font-weight: 500;
	font-size: 0.8em;
}

.boutonFooter:hover{
	display: none;
}
/****************************** NAV ******************************/
nav{
	background-color: whitesmoke;
	padding: 2.5em;
	border-top: lightgrey solid 2px;
	border-bottom: lightgrey solid 2px;
}
.bouton{
	padding: 0.2em;
	border: lightgrey 1px solid;
	border-radius: 0.3em;
	color:blue;
	justify-content: center;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	flex: 0.35;
}

.bouton:hover{
	background-color: lightsteelblue;
	border: 1px mediumblue solid;
	color: mediumblue;
}

/****************************** LANGUES ******************************/

.detecteLangue{
	border: lightgray 1px solid;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	flex: 8.05;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: grey;
	font-weight: bold;
	
}
.langue{
	padding: 1em;
	justify-content: center;
}
.langue:hover{
	background-color: whitesmoke;
	color: mediumblue;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.fleches{
	flex: 0.4;
	padding: 0.3em;
	
}

/****************************** Input ******************************/
input{
	flex-direction: row;
	flex: 3;
	border: lightgrey 1px solid;
	padding: 7em 18em;

}

.comment{
	justify-content: flex-end;
	margin-right: 13em;
	color: grey;
	font-size: 0.9em;
	font-style: italic;
}