/****************************** GLOBAL ******************************/
html,
body {
    margin: 0;
    padding: 0;
}


div,
header,
footer,
article {
    display: flex;
    flex: 1;
    border: 2px black dashed;
}

img {
    width: 100%;
}

.page {
    flex-direction: column;
}

body {
    background-image: url(../Voyage/images/bg.jpg);
    background-size: cover;
}

.espace {
    height: 25vh;
}

.espaceHor {
    flex: 0.5;
}

/****************************** HEADER******************************/
header {
    background-image: url("images/sky.jpg");
    background-size: cover;
    padding: 2vw;
}

.titre {
    flex: 3;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0.225em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    padding: 2vw;
}

/****************************** FOOTER ******************************/
footer {
    background-image: url("images/pp.jpg");
    background-size: cover;
    padding: 2vw;

}


/****************************** CONTENU ******************************/

.contenu {
    display: block;
    background-size: cover;
}

.partie {
    display: block;
}


.article {
    background-color: white;
}

.titreArticle {
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

.destinations {
    display: flex;
    justify-content: center;

}

.paris {
    background-image: url(images/08.jpg);
    color: white;
}

.londres {
    background-image: url(images/07.jpg);
}

.rome {
    background-image: url(images/06.jpg)
}

.bali {
    background-image: url(images/05.jpg);
}

.crete {
    background-image: url(images/04.jpg);
}

.barcelone {
    background-image: url(images/03.jpg);
}

.istanbul {
    background-image: url(images/02.jpg);
}

.marrakech {
    background-image: url(images/01.jpg);
    color: wheat;
}