html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/fond.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}

header {
    background-image: url(../image/header.jpg);
    display: flex;
}
footer{
    display: flex;
    background-image: url(../image/fond1.png);
    background-position: top;
    
}
div {
    display: flex;
    flex: 1;
}
img{
    width: 100%;
}

.page {
    width: 80vw;
    flex-direction: column;
    flex: none;
}
.titrePage, .piedPage {
    flex: 9;
    justify-content: center;
}
nav{
    display: flex;
    flex: 1;
    background-image: url(../image/fond1.png);
    background-position: left;
    padding: 0.5em;
    justify-content: center;
}
.menu{
    
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 0.2em;
    flex: none;
    background : linear-gradient(#06314F, #3093B2);
    padding: 0.5em;
    color: white;
}
.video{
    display: flex;
    flex: 1;
    height: 50vh;
    width: 50vw;
}
.contenu{
    background-color: whitesmoke;
}
.titreSemaine{
    display: flex;
    justify-content: center;
    
}