/****************************** GLOBAL ******************************/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/fond.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex: 1;
}

img {
    width: 100%;
}

video {
    width: 35vh;
}

/****************************** HEADER ******************************/

header {
    background-image: url(../image/header.jpg);
    display: flex;
}

/****************************** FOOTER ******************************/

footer {
    display: flex;
    background-image: url(../image/fond1.png);
    background-position: top;
}

/****************************** PAGE ******************************/

.page {
    width: 80vw;
    flex-direction: column;
    flex: none;
    display: block;
}

.titrePage,
.piedPage {
    flex: 9;
    justify-content: center;
}

.titrePage{
    padding: 0.2em;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: white 0.1em 0.1em 0.2em;
}
/****************************** MENU ******************************/

nav {
    display: flex;
    flex: 1;
    background-image: url(../image/fond1.png);
    background-position: left;
    padding: 0.5em;
    justify-content: center;
    
}

.bouton {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 0.2em;
    flex: none;
    background: linear-gradient(#225ca1, #7fbdef);
    padding: 0.5em;
    color: white;
    border: 2px solid #225ca1;
    white-space: nowrap;
}

.menu{
    flex-direction: column;
    align-items: center;
    
}


.menu:hover .sousmenu{
    display: flex;
    
}

.sousmenu{
    display: none;
    flex-direction: column;
    position: absolute;
    color: white;
    background: linear-gradient(#225ca1, #7fbdef);
    margin-top: 2.1em;
    border-radius: 0.2em;
}

/****************************** CONTENU ******************************/

.contenu {
    flex-direction: column;
    padding: 2em;
    background-color: #e6ece9;

}

/****************************** PARTIE 1 ******************************/

.partie1 {
    padding: 1em;
}

.titreSemaine {
    padding: 0.3em;
    font-size: 1em;
    font-weight: bold;
    flex: none;
    background: linear-gradient(#225ca1, #7fbdef);;
    justify-content: center;

}

.cookieSemaine {
    flex-direction: column;
    flex: 8;
    height: 35vh;
    background-color: #f7f7f7;
    overflow-y: scroll;
}

.ingredients, .recette{
    flex-direction: column;
}

/****************************** PARTIE 2 ******************************/

.partie2 {
    flex-direction: column;
}

.titreArticle {
    padding: 3em;
    font-size: 1em;
    /*Permet de mettre le texte en gras*/
    font-weight: bold;
    justify-content: center;
}

.texteArticle {
    padding: 1em;
    flex-direction: column;
    /*Permet de mettre le texte en justifié*/
    text-align: justify;
}

aside{
    padding: 0.2em;
    display: flex;
    flex: 0.1;
    border: blue 1px solid;
    border-radius: 6px;
    align-items: center;
}
