html,body{
    margin:0;
    padding: 0;
}
nav{
    display: flex;
    flex: 1;
}

div{
    display: flex;
    flex: 0.5;
}
body{
    background-image: url(../Cookie/image/fond.jpg);
    background-size: cover;
    background-position: center;
    
}
header{
    
    background-image: url(../Cookie/image/header.jpg);
    margin: 0;
    padding: 2em;  
}
.img{
    width: 100%;
}

.cookie {
    /* background-image: url(../Cookie/image/cookie.png); */
    height: 10vh;
    width: 10vw;
    margin-left: 1em;
    background-size: cover;
    background-position: center;   
}
.titre{
    align-items: center;
    justify-content: center;
    
}

.menu{
    flex-direction: column;
    background-image: url(../Cookie/image/fond1.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.bouton{
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    color: white;
    max-height: 1em;
}
.bouton:hover{
    box-shadow: teal;
}
.fond{
    background-size: cover;
    
}

.article{
    background-color: white;
}