* {
    margin: 0;
    padding: 0;
    list-style: none;
}

div {
    display: flex;
    flex: 0.5;
}

/*Header*/
header {
    display: flex;
}

img {
    width: 100%;
    
}

.titre {
    flex: 2;
    justify-content: center;
    /*Alignement vertical*/
    align-items: center;
    background-color: chocolate;
}

/*Side gauche*/
.gauche {
    background-image: url(../IMG/sideBackground.jpg);
    flex: 0.2;
    text-align: center;
    /*Alignage horizontal*/
    justify-content: center;

}

/*Poser une question sur l'alignement du texte*/

.menu {
    color: brown;
}

a {
    color: brown;
}

/*Articles*/
.articles {
    background-image: url(../IMG/background.jpg);
    background-size: 100%;
    color: white;
    flex: 0.8;
}

/*Footer*/
footer {
    display: flex;
    background-color: rgb(72, 0, 6);
    border: 2px solid black;
    text-align: center;
}

/*Gestion du gif*/
.animation {
    height: 15vh;
    flex: 0.4;
    
}

/*Gestion des liens du footer avec une balise de navigation*/

.source{
    display: flex;
    flex-direction: column;
}

.lien{
    display: flex;
}

.adresse{
    display: flex;
    justify-content: center;
    color:burlywood;
    
}