@media screen and (max-width: 800px){
    .page{
        width: 90vw;
    }
    .partie1{
        flex-direction: column;
    }

    .video{
        width: 50%;
        align-self: center;
        filter: contrast(150%);
    }

    img{
        filter: contrast(125%);
    }

    .cookieSemaine{
        flex: none;
    }

    .descriptionSemaine{
        flex-direction: column;
    }

    .photoSemaine{
        width: 50%;
        align-items: center;
    }
    .titreSemaine{
        font-size: 1em;;
    }
    .texteSemaine{
        font-size: 1.2em;
    }
    .photoSemaine{
        align-self: center;
    }
    li{
        font-size: 1.2em;
    }

    .titreArticle{
        font-size: 0.9em;
    }

    .texteArticle{
        font-size: 1.2em;
    }

    aside{
        font-size: 1.2em;
        height: 25vh;
    }

    .piedPage{
        font-size: 1.1em;
        letter-spacing: 0.1em;
    }

    .titrePage{
        font-size: 2.4em;
    }

    /* Revenir plus tard pour tenter de faire fonctioner le :active*/
   /* .menu:active{
        
        background-color: #103158;
	    color: #7fbdef;
   } */
}