@media screen and (max-width: 800px){
    .page{
        width: 90vw;
    }
    
    .descriptionSemaine{
        flex-direction: column;
    }
    .photoSemaine{
        width: 50%;
        align-items: center;
    }
    .titreSemaine{
        font-size: 1em;;
    }
    .texteSemaine{
        font-size: 1.2em;
    }
    li{
        font-size: 1.2em;
    }

    .titreArticle{
        font-size: 0.9em;
    }

    .texteArticle{
        font-size: 1.2em;
    }

    aside{
        font-size: 1.2em;
        height: 25vh;
    }

    /* Revenir plus tard pour tenter de faire fonctioner le :active*/
   /* .menu:active{
        
        background-color: #103158;
	    color: #7fbdef;
   } */
}