/****************************** GENERAL ******************************/
html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav{
	display : flex;
	flex : 1;
	/* border: black dashed 1px; */
}

img, video {
	width : 100%;
}

.espace{
	flex: 0.2;
}

.espaceHor{
	height: 5vh;
}

body{
	background-image: url(../IMG/fond.jpg);
	background-position: center;
	display: flex;
	justify-content: center;
}

/****************************** HEADER ******************************/

header{
	background-image: url(../IMG/header.jpg);
}

/****************************** FOOTER ******************************/

footer{
	background-image: url(../IMG/fond1.png);
	background-position: top;
	background-size: cover;
}

/****************************** PAGE ******************************/

.page{
	flex-direction: column;
	flex: none;
	width: 80vw;
	display: block;
}


.titrePage, .piedPage{
	font-family: Impact, Charcoal, sans-serif;
	flex: 8;
	justify-content: center;
	align-items: center;
}

.titrePage{
	font-size: 3em;
	text-shadow: white 0.1em 0.1em 0.2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 0.2em;
}

.piedPage{
	color: white;
	font-size: 1.5em;
	letter-spacing: 0.2em;
}
.contenu{
	padding: 2em;
	background-color: #e6ece9;
	flex-direction: column;
	display: block;
}
/****************************** NAV ******************************/

nav{
	background-image: url(../IMG/fond1.png);
	background-position: right;
	justify-content: center;
	padding: 0.2vw 1em;
}


.menu{
	background: linear-gradient(#225ca1, #7fbdef);
	position: relative;
	flex: none;
	font-size: 1.5em;
	border: solid #326280 3px;
	color: white;
	border-radius: 0.2em;
	padding: 0.2vw;
}

.menu:hover .sousMenu{
	display: flex;
}

.sousMenu{
	background: linear-gradient(#225ca1, #7fbdef);
	display: none;
	position: absolute;
	white-space: nowrap;
	color: white;
	margin-top: 1.4em;
	margin-left: -0.5vw;
	border-radius: 0.2em;
	flex-direction: column;
}

.items:hover{
	background-color: #225ca1;
	color: #7fbdef;
	border-radius: 0.3em;
}
/****************************** PARTIE 1 ******************************/



.cookieSemaine{
	flex-direction: column;
	flex: 3;
	background-color: #f7f7f7;
	overflow: scroll;
	height: 35vh;
}

.titreSemaine{
	background: linear-gradient(#225ca1, #7fbdef);
	flex: none;
	padding: 0.3em;
	justify-content: center;
	font-weight: bold;
	font-size: 1.3em;
}
.ingredients, .texteSemaine{
	margin: 1em;
	flex-direction: column;
}

/****************************** PARTIE 2 ******************************/

.partie2{
	flex-direction: column;
}

.titreArticle{
	padding: 3em;
	font-weight: bold;
	justify-content: center;
	font-size: 1em;
}

.texteArticle{
	flex-direction: column;
	text-align: justify;
	padding: 1em;
}

aside{
	border: #0000ff 1px solid;
	border-radius: 0.2em;
	display: flex;
	flex: 0.1;
	align-items: center;
	padding: 0.2em;
}