/****************************** GLOBAL ******************************/
html,
body {
    margin: 0;
    padding: 0;
}


div,
header,
footer,
article {
    display: flex;
    flex: 1;
    /* border: 2px black dashed; */
}

img {
    width: 100%;
}

.page {
    flex-direction: column;
}

body {
    background-image: url(../Voyage/images/bg.jpg);
    background-size: cover;
}

.espace {
    height: 25vh;
}

.espaceHor {
    flex: 0.5;
}

/****************************** HEADER******************************/
header {
    background-image: url("images/sky.jpg");
    background-size: cover;
    padding: 2vw;
}

.titre {
    flex: 3;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0.225em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    padding: 2vw;
}

/****************************** FOOTER ******************************/
footer {
    background-image: url("images/pp.jpg");
    background-size: cover;
    padding: 2vw;

}


/****************************** CONTENU ******************************/

.contenu {
    display: block;
    background-size: cover;
}

.partie {
    display: block;
    font-family: "Open Sans", Helvetica, sans-serif;
}

/** PARTIE 1 **/

.article {
    flex-direction: column;
    background-color: white;
}

.titreArticle {
    flex: 0.3;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 3vh;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.texteArticle{
    align-self: center;
    justify-content: center;
    text-align: justify;
    padding: 5vh;
    line-height: 1.2em;
    font-family: "Open Sans", Helvetica, sans-serif;
    display: block;
    
}

/** PARTIE 2 **/

.titreDestination{
    justify-content: center;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.225em;
    padding: 2em
}

.destinations {
    align-content: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.7em;
    letter-spacing: 0.53em;
}

#id1 {
    flex: 0.2;
    background-image: url(images/08.jpg);
    color: wheat;
    padding: 1.9em;
    background-size: cover;
}

#id2 {
    
    background-image: url(images/07.jpg);
    padding: 1.9em;
    background-size: cover;
}

#id3 {
    background-image: url(images/06.jpg);
    padding: 2.5em;
    background-size: cover;
}

#id4 {
    background-image: url(images/05.jpg);
    padding: 2.5em;
    background-size: cover;
}

#id5 {
    flex: 0.5;
    background-image: url(images/04.jpg);
    padding: 2.5em;
    background-size: cover;
}

#id6 {
    flex: 0.5;
    background-image: url(images/03.jpg);
    padding: 2.5em;
    background-size: cover;
}

#id7 {
    background-image: url(images/02.jpg);
    padding: 2.5em;
    background-size: cover;
}

#id8 {
    background-image: url(images/01.jpg);
    color: wheat;
    padding: 2.5em;
    background-size: cover;
}