@media screen and (max-width: 800px){

    .espaceHor{
        flex: 0.2;
    }

    .espace{
        height: 15vh;
    }

    .deco{
        flex: 0.4;
    }

    .titrePage, .piedPage{
        font-size: 1.2em;
    }

    .titreArticle{
        font-size: 1.2em;
    }

    .titreDestination{
        font-size: 1.1em;
    }

    .texteDestination{
        font-size: 1em;
        
    }



    /* Trouver le moyen le bouger les espaces avec les vignettes */
    /* #paris{
        order: 4
        
    } */

    /* #londres{
        order: 3;
    }

    #rome{
        order:2;
    }

    #bali{
        order:1;
    }

    #crete{
        order: 4;
        
    }

    #barcelone{
        order: 3;
        
    }

    #istanbul{
        order: 2;
    }

    #marrakech{
        order: 1;
    } */
   
}