/****************************** GENERAL ******************************/
html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
}

img, video {
	width : 100%;
}

.colonne{
	flex-direction: column;
}

.espace{
	height: 25vh;
}

.espaceHor{
	flex: 0.5;
}
body{
	background-image: url(../IMG/bg.jpg);
	background-size: cover;
}


.titrePage, .piedPage{
	flex: 3;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	font-size: 2.5em;
	letter-spacing: 0.3em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/****************************** HEADER ******************************/

header{
	background-image: url(../IMG/sky.jpg);
	background-size: cover;
	padding: 2vh;
}

.logo{
	padding: 2vw;
}

/****************************** FOOTER ******************************/

footer{
	background-image: url(../IMG/pp.jpg);
	background-size: cover;
	padding: 2vw;
}

/****************************** PAGE ******************************/

.partie{
	display: block;
}
/****************************** PARTIE 1 ******************************/

.article{
	background-color: white;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.titreArticle{	
	align-items: center;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.2;
	font-weight: 800;
	line-height: 1.2;
}

.texteArticle{
	text-align: justify;
	padding: 2em;
}
/****************************** PARTIE 2 ******************************/

.titreDestination, .texteDestination{
	font-family: "Open Sans", Helvetica, sans-serif;
}

.titreDestination{
	padding: 1em;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.2em;
	font-weight: 800;
	font-size: 3em;
}

.texteDestination{
	background-size: cover;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-weight: 800;
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 4vh;
}

#paris{
	background-image: url(../IMG/08.jpg);
	color: wheat;
}
#londres{
	background-image: url(../IMG/07.jpg);
}
#rome{
	background-image: url(../IMG/06.jpg);
}
#bali{
	background-image: url(../IMG/05.jpg);
}
#crete{
	background-image: url(../IMG/04.jpg);
}
#barcelone{
	background-image: url(../IMG/03.jpg);
}
#istanbul{
	background-image: url(../IMG/02.jpg);
}
#marrakech{
	background-image: url(../IMG/01.jpg);
	color: wheat;
}